.bg-gradient {
    background: linear-gradient(90deg, #663783 0%, #db1852 100%) !important;
}

body {
    background: #f5f5f5 !important;
}

.bg-primary{
    background-color: #663783 !important;
}

.bg-primary:hover{
    background-color: #db1852 !important;
}